# Frontend 

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

# ----------------------------------------------------------------

# Backend

# Compiled class file
backend/*.class

# Log file
backend/*.log

# BlueJ files
backend/*.ctxt

# Mobile Tools for Java (J2ME)
backend/.mtj.tmp/

# Package Files #
backend/*.jar
backend/*.war
backend/*.nar
backend/*.ear
backend/*.zip
backend/*.tar.gz
backend/*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
backend/hs_err_pid*
backend/replay_pid*

# target directory
backend/target/

# Transaction directory (from Bruno API testing)
backend/transactions/

# application.properties file
backend/src/main/resources/application.properties

# Eclipse project files
backend/.classpath
backend/.project
backend/.settings/
backend/.vscode/